* {
    padding: 0 0;
    margin: 0 0;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
    heigth: 0
}

.container-register {
    border: 1px solid red;
    
    background: #eee;
}

.register-head {
    height: 38px;
    background: #292524;
    color: #fff;
    font-size: 14px;
}